In [4]:
import io
import requests
import datetime
import pandas as pd
import numpy as np

def crawl_price(stock_id):
    now = int(datetime.datetime.now().timestamp())+86400
    url = "https://query1.finance.yahoo.com/v7/finance/download/" + stock_id + "?period1=0&period2=" + str(now) + "&interval=1d&events=history&crumb=hP2rOschxO0"

    response = requests.post(url)

    f = io.StringIO(response.text)
    df = pd.read_csv(f, index_col='Date', parse_dates=['Date'] )

    return df

df = crawl_price("INVE")
dfclose= df.Close
dfclose

Date
1997-10-07    191.2500
1997-10-08    253.7500
1997-10-09    315.0000
1997-10-10    297.5000
1997-10-13    273.1250
1997-10-14    260.0000
1997-10-15    253.7500
1997-10-16    243.7500
1997-10-17    223.7500
1997-10-20    250.0000
1997-10-21    267.5000
1997-10-22    262.5000
1997-10-23    237.5000
1997-10-24    242.5000
1997-10-27    222.5000
1997-10-28    258.7500
1997-10-29    248.7500
1997-10-30    236.2500
1997-10-31    232.5000
1997-11-03    257.5000
1997-11-04    242.5000
1997-11-05    245.0000
1997-11-06    235.0000
1997-11-07    232.5000
1997-11-10    242.5000
1997-11-11    241.2500
1997-11-12    233.7500
1997-11-13    238.4375
1997-11-14    231.2500
1997-11-17    235.0000
                ...
2019-04-15      4.7000
2019-04-16      4.9300
2019-04-17      4.9000
2019-04-18      4.9000
2019-04-22      4.9100
2019-04-23      4.9400
2019-04-24      5.0200
2019-04-25      4.9100
2019-04-26      5.0000
2019-04-29      4.9000
2019-04-30      5.1500
2019-05-01      5.4500
2019-05-02      5.6500
2019-05-03      5.5300
2019-05-06      5.2300
2019-05-07      5.2100
2019-05-08      5.3500
2019-05-09      5.3100
2019-05-10      5.4200
2019-05-13      5.3300
2019-05-14      5.0100
2019-05-15      5.0400
2019-05-16      4.9800
2019-05-17      5.1500
2019-05-20      5.2100
2019-05-21      4.9100
2019-05-22      5.1600
2019-05-23      5.0500
2019-05-24      4.9800
2019-05-28      4.9750
Name: Close, Length: 5444, dtype: float64

In [2]:
#PEGA = crawl_price("BBOX.L")
#pegaclose=PEGA.Close
#pegaclose.to_excel('BBOXoutput.xls')

In [3]:
#kkk = open('chosen_list.txt','r')
#print(kkk.read())