In [1]:
import pandas as pd
import numpy as np

In [2]:
file = pd.read_csv('roa.csv',index_col=0,parse_dates=True)
file_1 = file[['datadate','tic','at','ni']]
file_1.head()

         datadate  tic       at      ni
gvkey
1004   1993/05/31  AIR  365.151   0.283
1004   1994/05/31  AIR  417.626   9.494
1004   1995/05/31  AIR  425.814  10.463
1004   1996/05/31  AIR  437.846  16.012
1004   1997/05/31  AIR  529.584  23.025

In [6]:
with open('chosen_list.txt', 'r') as f:
    List = [line.split('\n')[0] for line in f]
List

['PEGA',
 'CASS',
 'COHU',
 'BDR',
 'HMNY',
 'BELFB',
 'CDNS',
 'KLAC',
 'CY',
 'XLNX',
 'TACT',
 'WGNR',
 'NVDA',
 'CMTL',
 'AXE',
 'TTWO',
 'IT',
 'INTC',
 'ANEN',
 'AMSWA',
 'SYMC',
 'AMKR',
 'SPDC',
 'CSCO',
 'TLAB',
 'SHEN',
 'XRX',
 'BHE',
 'INTT',
 'INAP',
 'FTR',
 'CRAY',
 'SMIT',
 'GVP',
 'OLED',
 'CYBE',
 'MTSC',
 'MCHP',
 'ESCC',
 'CTL',
 'APH',
 'LFUS',
 'RMTR',
 'VSAT',
 'LSCC',
 'ON',
 'TDS',
 'PAR',
 'AAPL',
 'PAYX',
 'AXTI',
 'EGOV',
 'MMS',
 'CELL',
 'INTU',
 'MSI',
 'TRT',
 'MSFT',
 'QUIK',
 'INOD',
 'DGII',
 'CSGS',
 'DAIO',
 'DDD',
 'ASYS',
 'WTT',
 'EA',
 'ITI',
 'STCN',
 'DIOD',
 'NSYS',
 'PLT',
 'CYMI',
 'MU',
 'ZIXI',
 'KVHI',
 'NWK',
 'DRCO',
 'FICO',
 'MSTR',
 'IBM',
 'CSPI',
 'FSII',
 'TYL',
 'TXN',
 'ADBE',
 'HLIT',
 'ALOT',
 'CBB',
 'PKE',
 'SUPX',
 'ADI',
 'FARO',
 'FFIV',
 'EEFT',
 'FLEX',
 'VECO',
 'MKSI',
 'AWRE',
 'FLIR',
 'IAC',
 'TSS',
 'CIEN',
 'TESS',
 'MXWL',
 'PRST',
 'EBIX',
 'IEC',
 'VSH',
 'ASUR',
 'ZBRA',
 'PCTI',
 'TER',
 'ANSS',
 'TCX',
 'EGHT',
 'AMD',
 'ACCL',
 'WDC',
 'OSIS',
 'CREE',
 'PFSW',
 'ATEA',
 'KLIC',
 'NCR',
 'CNXN',
 'AVX',
 'FEIM',
 'ATNI',
 'TRMB',
 'CTSH',
 'VIAV']

In [23]:
file_1['ROA'] = file_1['ni']/file_1['at']

/Users/howard/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
file_1

          datadate    tic         at        ni       ROA
gvkey
1004    1993/05/31    AIR    365.151     0.283  0.000775
1004    1994/05/31    AIR    417.626     9.494  0.022733
1004    1995/05/31    AIR    425.814    10.463  0.024572
1004    1996/05/31    AIR    437.846    16.012  0.036570
1004    1997/05/31    AIR    529.584    23.025  0.043478
1004    1998/05/31    AIR    670.559    35.657  0.053175
1004    1999/05/31    AIR    726.630    41.671  0.057348
1004    2000/05/31    AIR    740.998    35.163  0.047454
1004    2001/05/31    AIR    701.854    18.531  0.026403
1004    2002/05/31    AIR    710.199   -58.939 -0.082989
1004    2003/05/31    AIR    686.621   -12.410 -0.018074
1004    2004/05/31    AIR    709.292     3.504  0.004940
1004    2005/05/31    AIR    732.230    15.453  0.021104
1004    2006/05/31    AIR    978.819    35.163  0.035924
1004    2007/05/31    AIR   1067.633    58.660  0.054944
1004    2008/05/31    AIR   1362.010    75.144  0.055171
1004    2009/05/31    AIR   1377.511    78.651  0.057096
1004    2010/05/31    AIR   1501.042    44.628  0.029731
1004    2011/05/31    AIR   1703.727    69.826  0.040984
1004    2012/05/31    AIR   2195.653    67.723  0.030844
1004    2013/05/31    AIR   2136.900    55.000  0.025738
1004    2014/05/31    AIR   2199.500    72.900  0.033144
1004    2015/05/31    AIR   1515.000    10.200  0.006733
1004    2016/05/31    AIR   1442.100    47.700  0.033077
1004    2017/05/31    AIR   1504.100    56.500  0.037564
1004    2018/05/31    AIR   1524.700    15.600  0.010232
1009    1993/10/31   ABSI     63.997     3.362  0.052534
1009    1994/10/31   ABSI     93.811     4.855  0.051753
1010    1993/12/31  4165A   1665.921   112.249  0.067380
1010    1994/12/31  4165A   1815.100    25.200  0.013884
...            ...    ...        ...       ...       ...
318728  2017/12/31    ATH  99747.000       NaN       NaN
318728  2017/12/31    ATH  99747.000  1448.000  0.014517
318815  2013/12/31    MTP      8.575    -6.769 -0.789388
318815  2014/12/31    MTP     78.776   -11.500 -0.145984
318815  2015/12/31    MTP     94.435   -14.892 -0.157696
318815  2016/12/31    MTP     69.937   -24.874 -0.355663
318815  2017/12/31    MTP     66.595   -21.733 -0.326346
318970  2011/12/31  NXXYF        NaN       NaN       NaN
318970  2012/12/31  NXXYF     29.155    -2.226 -0.076351
318970  2013/12/31  NXXYF     34.121    -1.926 -0.056446
318970  2014/12/31  NXXYF     68.397    -7.006 -0.102431
318970  2015/12/31  NXXYF    291.812    -8.403 -0.028796
318970  2016/12/31  NXXYF    752.376   -57.936 -0.077004
319507  2014/12/31   MTFB      0.226    -1.186 -5.247788
319507  2015/12/31   MTFB     34.958    -8.517 -0.243635
319507  2016/12/31   MTFB     28.426   -40.324 -1.418560
319507  2017/12/31   MTFB     29.188   -44.810 -1.535220
324684  2016/12/31   ASLN     53.714    -9.049 -0.168466
324684  2017/12/31   ASLN     51.334   -39.892 -0.777107
326502  2015/12/31  VVCIF      7.436    -4.402 -0.591985
326502  2016/12/31  VVCIF      9.469    -6.227 -0.657620
326502  2017/12/31  VVCIF     86.044   -29.256 -0.340012
326688  2013/12/31    NVT        NaN       NaN       NaN
326688  2014/12/31    NVT        NaN       NaN       NaN
326688  2015/12/31    NVT        NaN       NaN       NaN
326688  2016/12/31    NVT   4493.800   259.100  0.057657
326688  2017/12/31    NVT   4725.000   361.700  0.076550
327451  2015/12/31   GRIN        NaN       NaN       NaN
327451  2016/12/31   GRIN    590.154   -43.709 -0.074064
327451  2017/12/31   GRIN    507.122   -60.812 -0.119916

[320515 rows x 5 columns]

In [22]:
lst = list(set(file_1['tic']))
cnt = 0
for i in List:
    if i in lst:
        cnt += 1
print(cnt)

132

In [43]:
roa_dic = {}
for idx, row in file_1.iterrows():
    year = int(row[0].split('/')[0])
    tic = row[1]
    roa = float(row[4])
    if tic not in List:
        continue
    if tic not in roa_dic:
        roa_dic[tic] = [0 for _ in range(10)]
    if 2000 <= year <= 2009:
        roa_dic[tic][year - 2000] = roa

In [50]:
for tic in roa_dic:
    if 0 in roa_dic[tic] or float('NaN') in roa_dic[tic]:
        print(tic, roa_dic[tic])

ACCL [0.0041261948406762046, -0.05295897159002655, -0.0484246475500302, -0.014591078454689214, 0, -0.15678214183390013, -0.05273414875132023, -0.00986410178459389, 0.008463011960971484, 0.0005852540874394511]

In [46]:
import pickle
with open('dic.pkl', 'rb') as f:
    dic = pickle.load(f)

In [53]:
cnt = 0
for comp in dic:
    if comp not in roa_dic:
        continue
    dic[comp]['ROA'] = []
    for i in range(10):
        dic[comp]['ROA'] += [roa_dic[comp][i] for _ in range(3)]
print(len(dic['AAPL']['ROA']))

30

In [54]:
with open('dic.pkl', 'wb') as f:
    pickle.dump(dic, f)